.project-card{
    width: 24%;
    margin: .5%;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #7a7a7a;
}

.project-card h4{
    color: #ffbb33;
    font-size: 1.3em;
    margin-bottom: 1.3em;
    padding: .4em;
    background-color: #222;
}

.project-card p{
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project-card p span{
    font-weight: bold;
}

.category-text{
    display: flex;
    align-items: center;
}

.category-text span{
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ccc;
}

.category-text .infra{
    background-color: #ffaebc;
}

.category-text .desenvolvimento{
    background-color: #a0e7e5;
}

.category-text .design{
    background-color: #b4f8c8;
}

.category-text .planejamento{
    background-color: #fbe7c6;
}

.project-card-actions{
    display: flex;
    align-items: center;
    margin-top: 1.2em;
}

.project-card-actions a, .project-card-actions button{
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    text-decoration: none;
    margin-right: 1em;
    padding: .6em 1em;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #222;
    background-color: #fff;
}

.project-card-actions svg{
    margin-right: .5em;
}

.project-card-actions a:hover, .project-card-actions button:hover{
    color: #ffbb33;
    background-color: #222;
}