.footer{
    color: #fff;
    text-align: center;
    padding: 3em;
    background-color: #222;
}

.social-list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-list li{
    margin: 0 1em;
}

.social-list li:hover{
    color: #ffbb33;
}

.social-list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copyright{
    margin-top: 2em;
}

.copyright span{
    color: #ffbb33;
    font-weight: bold;
}